* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}


main {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  
}

div {
  flex-grow: 1;
  min-width: 300px;
  height: 220px;
  border-radius: .5rem;
  margin: .5rem;
}

body {
  background-color: gray;
  width: 100vw;
  height: 100vh;
}


main div:nth-child(1) {
  background-color: red;

}
main div:nth-child(2) {
  background-color: blue;

}
main div:nth-child(3) {
  background-color: orange;
}
main div:nth-child(4) {
  background-color: pink;

}