* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: transparent;
  font-size: 8rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  animation:linearGradientMove 2s infinite alternate ;

}

@keyframes linearGradientMove {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}
